*{
    margin:0px;
    padding:0px;
    margin-left:0px;
    padding-left:0px;
    padding-top:0px;
    left:0px;
}
html,body{
    margin: 0;
    height: 100vh;
}
#dwnld_app_holder{
    width: 28rem;
    height: 32rem;
    grid-area: dwnld_app;
}
#dwnld_app_container{
    width: 24rem;
    height: 30rem;
    /* margin: 5vw 2vw 4vw 2vw; */
    margin:1rem auto;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #FFF;
    box-shadow: -11.967px -9.573px 37.097px 0px rgba(255, 255, 255, 0.25), 8.377px 11.967px 37.097px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding:2rem 1.5rem 2rem 1.5rem;
    display: grid;
    grid-template-areas: 
    'caps'
    'botom';
    grid-template-rows: 18% 80%;
}
#try{
    grid-area: try;
    width: 10rem;
    color: #000;
    font-family: Nunito;
    font-size: 1.5rem;
    font-style: normal;
    font-weight:bolder;
    line-height: normal;
}
#botom{
    width: 22rem;
    height: 20rem;
    display: grid;
    grid-template-areas: 
    'appl cover_img'
    'inf cover_img'
    'dwnld_btn cover_img';
    grid-template-rows: 18% 60% 20%;
    grid-template-columns: 52% 48%;
    text-align: start;
    grid-area: botom;
}
#caps{
    width: 22rem;
    height: 5.6rem;
    display: grid;
    grid-template-areas: 
    'try'
    'h1';
    grid-template-rows: 30% 60%;
    grid-area: caps;
}
#dwnld_app_container h1, #mbl{
    width: 21.1875rem;
    color: #000;
    font-family: Bebas Neue;
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#dwnld_app_container h1{
    grid-area: h1;
}
#dwnld_app_container span{
    color: #61467B;
}
#inf{
    width: 10rem;
    height:10rem ;
    color: #000;
    font-family: Nunito;
    font-size: 0.97rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    grid-area: inf;
}
#cvr_img{
    margin:none;
    width: 9.5rem;
    height: 20rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: url(crp_advrts.png) no-repeat;
    background-size: cover;
    grid-area: cover_img;
    transform: scaleY(0.88);
}

#appl{
    width:11rem;
    height: 3rem;
    padding: none;
    grid-area: appl;
    font-family: Bebas Neue;
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#dwnld_btn{
    width: 7.04513rem;
    height:2.8rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #61467B;
    grid-area: dwnld_btn;
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: #FFF;
    border: none;
}
@media  screen and (max-width: 450px){
    #dwnld_app_holder{
        width: 85vw;
        height: 105vw;
    }
    #dwnld_app_container{
        margin:0;
        width: 85vw;
        height: 105vw;
        padding: 4vw;
        grid-template-rows: 17% 70%;
    }
    #try{
        width: 22vw;
        height: 8vw;
        font-size:6vw ;
    }
    #caps{
        width: 75vw;
        height: 18vw;
        grid-template-rows:32% 60%;
        grid-template-columns: 95%;
    }
    #dwnld_app_container h1, #mbl{
        font-size: 10vw;
        width: 75vw;
    }
    #botom{
        width: 80vw;
        height:80vw ;
        grid-template-columns:53% 47%;
        grid-template-rows: 17% 55% 18%;
    }
    #inf{
        width: 35vw;
        height: 44vw;
        font-size:3.5vw ;
    }
    #cvr_img{
        width: 36vw;
        height: 75vw;
    }
    #appl{
        font-size: 10vw;
        width: 40vw;
        height: 12vw;
    }
    #dwnld_btn{
        width: 25vw;
        height: 10vw;
        font-size: 3.5vw;
    }

}

